
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;700&display=swap");
*,*:before,*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

html {
  /* max-width: 1440px;
  min-width: 100%; */
  min-width: fit-content;
}
.header {
  min-height: 80px;
  height: 10vh;
  border-bottom: 1px solid #D8E3FE;
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 1206px;
  height: 10vh;
  min-height: 80px;
  margin: 0px auto;
}

li, a, button {
  text-decoration: none;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
  column-gap: 42px;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.start {
  margin-left: 44px;
}

.header-button {
  width: 113px;
  height: 43px;
  color: #3A79FF;
  background-color: #D2E1FF;
  display: inline-block;
  padding: 13px 16px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 700;
  user-select: none;
  line-height: 1.5;
  border: none;
  cursor: pointer; 
}

.header-button:hover {
  background-color: #b1c2e2
}

.socials {
  display: flex;
  margin-left: auto;
}

.home {
  color: #5E81FE;
  text-align: center;
  text-shadow: 0px 0px 5px #E6E6E6;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.home:hover {
  color: #526bc4;
}

.nav-item {
  color: #697CA6;
  text-align: center;
  text-shadow: 0px 0px 5px #E6E6E6;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.nav-item:hover {
  color: #556486;
}

/* plan */


.plan {
  background-image: url(img/hero-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  height: 720px;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 91px;
  height: 266px;
  width: 583px;
}

.plan-subtitle {
  color: #3D4F9F;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
}

.plan-title {
  color: #3D4F9F;
  text-align: center;
  font-family: Quicksand;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
  overflow-wrap: break-word;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 0px;

}

.plan-title span {
  color: #3D4F9F;
  font-family: Quicksand;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.plan-text {
  color: #8D96BD;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 191.016%; /* 28.652px */
  letter-spacing: 0.45px;
  margin: 0px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.play {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
}

/* customers */

.customers {
  height: 146px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D8E3FE;
  border-top: 1px solid #D8E3FE;
}

.customers-container {
  width: 888px;
  height: 29px;
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}

/* manage */

.manage {
  height: 776px;
  background-color: #F5F8FF;
  display: flex;
  justify-content: center;
}

.manage-container {
  display: flex;
  height: 436px;
  width: 911px;
  /* margin-left: 167px; */
  justify-content: center;
  margin-top: 171px;
}

.manage-block { 
  width: 413px;
  margin-top: 38px;
}

.manage-description {
  color: #3D4F9F;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  width: 149px;
  height: 12px;
}

.manage-title {
  color: #3D4F9F;
  font-family: Quicksand;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  width: 299px;
  height: 45px;
}

.manage-title span {
  color: #3D4F9F;
  font-family: Quicksand;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.manage-text {
  color: #8D96BD;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 191.016%; /* 28.652px */
  letter-spacing: 0.45px;
  white-space: nowrap;
  width: 413px;
  height: 151px;
}

.button-video {
  filter: drop-shadow(0px 5px 15px rgba(188, 199, 255, 0.75));
  width: 130.076px;
  height: 43px;
  background-color: #4C85FF;
  display: inline-block;
  padding: 13px 16px;
  border: none;
  color: #FFF;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer; 
}

.button-video:hover {
  background-color: #4374df;
}

.button-features {
  width: 130.076px;
  height: 43px;
  display: inline-block;
  padding: 13px 16px;
  border: 1px solid #D1D1E4;
  color: #ADB4D2;
  text-align: center;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #F5F8FF;
  cursor: pointer;
}

.button-features:hover {
  background-color: #ebeef5;
}

.manage-block-action {
  width: 260.16px;
  display: flex;
  justify-content: space-between;
}

.manage-img {
  width: 653px;
  height: 436px;
  object-fit: contain;
}

.illustration-img {
  width: 100%;
}

/* features */

.features {
  height: 885px;
  display: flex;
  justify-content: center;
}

.features-container {
  width: 1201px;
  height: 543px;
  background-image:url(img/clouds.svg);
  background-position: bottom;
  margin-top: 171px;
  background-size: 97%;
  display: flex;
  justify-content: center;
}

.features-block {
  width: 761px;
  height: 543px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 19.11px;
}

.features-title {
  width: 230px;
  height: 62px;
  display: flex;
  justify-content: center;
  margin-bottom: 92px;
}

.features-section {
  width: 761px;
  height: 254px;
}

.features-action {
  width: 337px;
  height: 43px;
}

.features-title {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.features-text {
  color: #3D4F9F;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 56px;
  height: 12px;
  margin-bottom: 20px;
}

.features-subtext {
  color: #3D4F9F;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 230px;
  height: 30px;
}

.features-section {
  width: 761px;
  height: 254px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 92px;
}

.features-item-title {
  color: #4074F8;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 177.036%; /* 24.785px */
  height: 25px;
}

.features-item-text {
  color: #ADB3CB;
  text-align: center;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 177.036%; /* 19.474px */
  width: 140px;
  height: 102px;
}

.features-item-img {
  margin: 0 35.5px 0 35.5px;
}

.features-action {
  width: 337px;
  height: 43px;
  display: flex;
  justify-content: center;
}

.button-read {
  width: 113px;
  height: 43px;
  background-color: #FFD7D7;
  display: inline-block;
  padding: 13px 16px;
  border: none;
  color: #D43F3F;
  text-align: center;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.button-read:hover {
  background-color: #ecb8b8;
}

.button-or {
  width: 113px;
  height: 43px;
  background-color: #FFF;
  display: inline-block;
  padding: 13px 16px;
  border: none;
  color: #ADB3CB;
  text-align: center;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 177.036%; /* 19.474px */
}

.button-get {
  width: 113px;
  height: 43px;
  background-color: #D2E1FF;
  display: inline-block;
  padding: 13px 16px;
  border: none;
  color: #3A79FF;
  text-align: center;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 19.474px */
  cursor: pointer;
}

.button-get:hover {
  background-color: #c7d5f1;
}

/* STATS */

.stats {
  height: 343px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
}

.stats-left {
  flex-basis: 50%;
  height: 343px;
  background-color: #6888FF;
}

.stats-right {
  flex-basis: 50%;
  height: 343px;
  background-color: #E9EFFF;
}

.stats-right-block {
  width: 260px;
  height: 210px;
  margin-left: 94px;
  margin-top: 70px;
}

.stats-left-block {
  width: 260px;
  height: 210px;
  float: right;
  margin-right: 94px;
  margin-top: 70px;
}

.clock {
  width: 65px;
  height: 65px;
  margin-left: 194px;
  margin-bottom: 24px;
}

.clock-img {
  width: 65px;
  height: 65px;
}

.ppl-img {
  height: 65px;
  margin-bottom: 24px;
}

.percent {
  color: #FFF;
  text-align: right;
  font-family: Quicksand;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.75%; /* 83.4px */
  letter-spacing: 1.44px;
  margin: 0 0 0 0;
}

.clock-text {
  color: #FFF;
  text-align: right;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.54px;
  width: 260px;
  height: 45px;
  margin: 0 0 0 0;
  margin-top: 4px;
}

.count {
  color: #5E80FF;
  font-family: Quicksand;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.75%; /* 83.4px */
  letter-spacing: 1.44px;
  width: 99px;
  height: 84px;
  margin: 0 0 0 0;
}

.ppl-text {
  color: #5E80FF;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.54px;
  width: 260px;
  height: 45px;
  flex-shrink: 0;
  margin: 0 0 0 0;
  margin-top: 4px;
}

/* BLOG */

.blog {
  background-color: #F5F8FF;
  height: 865px;
  display: flex;
  justify-content: center;
}

.blog-container-arrow {
  display: flex;
}

.arrow-left {
  width: 23px;
}

.arrow-right {
  width: 23px;

}

.blog-container {
  width: 1154px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planing {
  width: 958px;
  height: 394px;
  background-color: #FFF;
  padding: 63px 41px 64px 35px;
}

.planing-container {
  width: 882px;
  height: 267px;
  display: flex;
  justify-content: space-between;
}

.blog-text {
  color: #3D4F9F;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.blog-subtext {
  color: #3D4F9F;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-bottom: 92px;
  margin-top: 20px;
}

.blog-title {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin-top: 104px;
}

.cell-1 {
  width: 267px;
  height: 267px;
}

.cell-2 {
  max-width: 127px;
  max-height: 127px;
}

.cell-3 {
  max-width: 127px;
  max-height: 127px;
}

.cell-left {
  width: 267px;
  height: 267px;
}

.cell-right {
  width: 127px;
  height: 267px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planing-grid {
  width: 407px;
  height: 267px;
  display: flex;
  justify-content: space-between;
}

.sheet-title {
  color: #3D4F9F;
  font-family: Quicksand;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sheet-text {
  color: #8D96BD;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 191.016%; /* 26.742px */
  letter-spacing: 0.42px;
  width: 408px;
  height: 116px;
}

.blog-button-read {
  width: 113px;
  height: 43px;
  color: #3A79FF;
  background-color: #D2E1FF;
  display: inline-block;
  padding: 13px 16px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 700;
  user-select: none;
  line-height: 1.5;
  border: none;
  cursor: pointer; 
}

.blog-button-read:hover {
  background-color: #c7d5f1;
}

.blog-button-add {
  width: 211px;
  height: 43px;
  background-color: #FFF;
  color: #A6B6DA;
  text-align: center;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer; 
}

.blog-button-add:hover {
  color: #909ebe;
}

.blog-circles {
  align-items: center;
  width: 48px;
  height: 8px;
  margin-top: 101px;
}

/* QUOTES */
.quotes {
  height: 480px;
  background-color: #EAF0FF; 
  display: flex;
  justify-content: center;
}

.quotes-container {
  width: 888px;
  height: 261.5px;
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}

.quotes-block {
  width: 333px;
  height: 188px;
}



.quotes-description {
  color: #3D4F9F;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.quotes-title {
  color: #3D4F9F;
  font-family: Quicksand;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quotes-text {
  color: #A4ABC8;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 189.292%; /* 22.715px */
  letter-spacing: 0.36px;
}

.quotes-testimonials {
  height: 261.5px;
}

.text-container {
  width: 423px;
  height: 175.366px;
  color: #676F95;
  border: 1px solid #D8E3FE;
  background: #FFF;
  box-shadow: 0px 5px 50px 0px #F3F5FA;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171.094%; /* 23.953px */
  letter-spacing: 0.42px;
  padding: 39px 70px 55px 68px;
}

.avatar {
  margin: -32px 0 0 180px;
}

.circles {
  margin-left: -125px;
  margin-bottom: -55px;
}

/* FAQ */

.faq {
  height: 965px;
  display: flex;
  justify-content: center;
}

.faq-container {
  width: 743px;
  height: 614px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 176px;
  align-items: center;
}

.faq-title {
  width: 311px;
  height: 62px;
  margin-bottom: 68px;
}

.faq-text {
  color: #3D4F9F;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.faq-subtext {
  color: #3D4F9F;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.faq-item {
  width: 743px;
  height: 60px;
  display: flex;
  border-bottom: 1px solid #D8E3FE;
  gap: 24px;
}

.down-img {
  width: 18px;
  height: 11px;
  margin-bottom: 7px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.faq-item-text {
  color: #8E96B7;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 19.5px */
  letter-spacing: 0.45px;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.faq-item-extend {
  width: 743px;
  height: 176px;
  display: flex;
  border-bottom: 1px solid #D8E3FE;
  flex-direction: column;
}

.item-block {
  width: 501px;
  height: 45px;
  display: flex;
  align-items:center;
  gap:24px;
}

.up-img {
  width: 18px;
  height: 11px;
  margin-bottom: 7px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.item-container {
  display: flex;
  justify-content: center;
  gap: 62px;
}

.item-extend-text {
  color: #495274;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 19.5px */
  letter-spacing: 0.45px;
  display: flex;

  margin-top: auto;
  margin-bottom: auto;
}

.faq-item-extend {
  color: #8D96BD;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 191.016%; /* 26.742px */
  letter-spacing: 0.42px;
  margin-top: 5px;
}


.button-doc {
  width: 195px;
  height: 43px;
  background-color: #E8ECF4;
  display: inline-block;
  padding: 13px 16px;
  border: none;
  color: #7382A3;
  text-align: center;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  margin-top: 21px;
}

.button-doc:hover {
  background-color: #d8dce4;
}

/* get */

.get {
  height: 447px;
  background-color: #6888FF;
  display: flex;
  justify-content: center;
}

.get-container {
  width: 1297px;
  height: 319px;
  background-image:url(img/clouds-get.png);
  background-size: 98%;
  padding-top: 91px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.get-block {
  width: 712px;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-discription {
  color: #FFF;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 0 0;
}

.get-title {
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 16px;
}

.get-title span {
  color: #FFF;
  font-family: Quicksand;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.get-text {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 191.016%; /* 28.652px */
  letter-spacing: 0.45px;
  margin: 0 0 0 0;
  margin-top: 28px;
}

.get-actions {
  width: 325px;
  height: 43px;
  margin-top: 48px;
}

.button-pricing {
  width: 130.076px;
  height: 43px;
  background-color: #FFF;
  display: inline-block;
  padding: 13px 16px;
  border: none;
  color: #565F82;
  text-align: center;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin-right: -5px;
}

.button-pricing:hover {
  background-color: #eceaea;
}

.button-read-doc {
  width: 177.076px;
  height: 43px;
  background-color: #6888FF;
  display: inline-block;
  padding: 13px 16px;
  border: 1px solid #A0B4FF;
  color: #C7D3FF;
  text-align: center;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.button-read-doc:hover {
  background-color: #6483f3;
}

/* newsletter */

.newsletter {
  height: 332px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D8E3FE;
}

.newsletter-container {
  width: 887px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  padding-top: 118px;
}

.newsletter-block {
  width: 330px;
  height: 95px;
  
}

.newsletter-title {
  color: #3D4F9F;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.newsletter-text {
  color: #8D96BD;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 191.016%; /* 26.742px */
  letter-spacing: 0.42px;
}

input {
  width: 279px;
  height: 59px;
  background-color: #E8ECF4;
  display: inline-block;
  padding: 13px 16px;
  border: none;
  border-radius: 5px;
  background: #EFEFF7;
  color: #7A85AD;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

.email {
  width: 477px;
  height: 59px;
  margin-top: 36px;
}

.button-save {
  width: 184px;
  height: 59px;
  background-color: #4D6CE1;
  display: inline-block;
  border: 1px solid #4D6CE1;
  border-radius: 4px;
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.button-save:hover {
  background-color: #4967d3;
}

/* footer */
.footer {
  height: 287px;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 1206px;
  height: 101px;
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  margin-top: 93px;
}

.footer-block {
  width: 1206px;
  height: 101px;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.copyright {
  width: 302px;
  height: 30px;
  color: #AEB8D0;
  text-align: center;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  padding-left: 78px;
  margin-top: 42px;
}

.home-footer {
  color: #697CA6;
  text-align: center;
  text-shadow: 0px 0px 5px #E6E6E6;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}